In [6]:
pip install nltk

Requirement already satisfied: nltk in c:\users\sriiii\anaconda3\lib\site-packages (3.6.5)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: click in c:\users\sriiii\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\sriiii\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\sriiii\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\sriiii\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\sriiii\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [7]:
import nltk

In [8]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [9]:
import pandas as pd

In [10]:
fake = pd.read_csv('Fake.csv')

In [11]:
genuine = pd.read_csv('True.csv')

In [12]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [13]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [14]:
display(genuine.head())

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [16]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [17]:
fake['target'] = 0
genuine['target'] = 1

In [18]:
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [19]:
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [20]:
data = pd.concat([fake,genuine], axis=0)

In [21]:
data = data.reset_index(drop=True)

In [23]:
data = data.drop(['subject','date', 'title'], axis = 1)

In [25]:
print(data.columns)

Index(['text', 'target'], dtype='object')

In [26]:
from nltk.tokenize import word_tokenize

In [27]:
data['text'] = data['text'].apply(word_tokenize)

In [28]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [29]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer('english')

In [30]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [31]:
data['text'] = data['text'].apply(stem_it)

In [32]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

In [33]:
def stop_it(t):
    dt = [word for word in t if len(word)>2]
    return dt

In [34]:
data['text'] = data['text'].apply(stop_it)

In [35]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [36]:
data['text'] = data['text'].apply(' '.join)

In [40]:
from sklearn.model_selection import train_test_split
x_train, x_test, Y_train, Y_test = train_test_split(data['text'], data['target'], test_size = 0.25)
display(x_train.head())
print('\n')
display(Y_train.head())

31125    cedar rapid iowa reuter u.s. republican presid...
41081    ankara reuter turkish author issu detent warra...
4884     despit the fact that msnbc morn joe main host ...
35117    moscow reuter syria opposit sabotag the geneva...
36116    beirut reuter lebanes secur forc fire tear gas...
Name: text, dtype: object

31125    1
41081    1
4884     0
35117    1
36116    1
Name: target, dtype: int64

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df = 0.7)

tfidf_train = my_tfidf.fit_transform(x_train)
tfidf_test = my_tfidf.transform(x_test)

In [44]:
print(tfidf_train)

  (0, 58870)	0.028526991101409948
  (0, 37130)	0.03942675025545046
  (0, 88048)	0.024826470666563485
  (0, 26378)	0.03431894730985033
  (0, 13202)	0.028422267237301842
  (0, 71980)	0.023451542816137018
  (0, 87181)	0.02984754064109863
  (0, 44388)	0.027158169161156792
  (0, 55457)	0.03705014023681913
  (0, 67740)	0.03984749869206961
  (0, 10493)	0.01961473242917895
  (0, 33615)	0.07226240821024621
  (0, 37980)	0.03348742826803635
  (0, 25931)	0.07121259170596046
  (0, 35329)	0.041969177750652016
  (0, 7621)	0.052845528471288844
  (0, 24168)	0.04285820740952904
  (0, 49109)	0.02582331839573977
  (0, 88097)	0.03203985865187539
  (0, 56789)	0.027051332713606564
  (0, 64215)	0.046715888537927686
  (0, 60336)	0.05117626356108067
  (0, 21066)	0.06555740439626659
  (0, 58751)	0.04538924637546566
  (0, 28201)	0.057650671079803914
  :	:
  (33672, 32945)	0.030158004848443977
  (33672, 77106)	0.06485486064918076
  (33672, 88127)	0.024956695953107136
  (33672, 55057)	0.013440889505033367
  (33672, 7922)	0.009553351892401482
  (33672, 65012)	0.03546880930816267
  (33672, 17308)	0.011314247441857163
  (33672, 7955)	0.011956676349776865
  (33672, 12001)	0.012303596606230548
  (33672, 58735)	0.044810581289012275
  (33672, 17487)	0.021233838854998494
  (33672, 48258)	0.041698417780054946
  (33672, 38658)	0.04103805345626335
  (33672, 37191)	0.018445317171837568
  (33672, 85282)	0.025039262127652683
  (33672, 41845)	0.02275603970736739
  (33672, 61911)	0.013918123305590455
  (33672, 55162)	0.04779449049022947
  (33672, 23879)	0.02495431213318513
  (33672, 57128)	0.026556138674924627
  (33672, 70743)	0.015329341369932884
  (33672, 49756)	0.03034962997805344
  (33672, 57438)	0.0330759519339851
  (33672, 79320)	0.01201160163927762
  (33672, 69154)	0.00933572319244084

In [46]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [47]:
model_1 = LogisticRegression(max_iter = 900)
model_1.fit(tfidf_train, Y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(Y_test, pred_1)
print(cr1 * 100)

98.81514476614699

In [49]:
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, Y_train)

PassiveAggressiveClassifier(max_iter=50)

In [50]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(Y_test, y_pred)
print('The accuracy of Prediction is ', accscore*100)

The accuracy of Prediction is  99.61692650334075